[submodule "SM-Backend"]
	path = SM-Backend
	url = https://github.com/nathanswanson/SM-Backend.git
[submodule "SM-Frontend"]
	path = SM-Frontend
	url = https://github.com/nathanswanson/SM-Frontend.git
