*
!Dockerfile
!Dockerfile.caddy
!compose.yml
!build.sh
!.github/
!.github/**/*
!.gitignore
!.gitmodules
!.dockerignore
!init.sql
!README.md
!CaddyFile
!CaddyFile.dev
!SM-Frontend
!SM-Backend
!.vscode
!.vscode/launch.json
!compose.override.yml
!.vscode/tasks.json