{
	layer4 {
				0.0.0.0:1234 {

		}
	}
}

https://demo.{$SM_API_BACKEND} {
	reverse_proxy server-manager:8000 {
		header_up Upgrade {http.request.header.Upgrade}
		header_up Connection {http.request.header.Connection}
	}
}

{$SM_API_BACKEND} {
	reverse_proxy server-manager:8000 {
		header_up Upgrade {http.request.header.Upgrade}
		header_up Connection {http.request.header.Connection}
	}
}
